table {
    width: 100%;
}
tr.plugin-detail-row {
    height:0px;
}
div.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    font-style: italic;
}
div.details a:link, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}
div.details h3 {
    margin: 0 0 5px
}
ul {
    list-style-type: circle;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
ul .mat-icon-button {
    height: 30px;
}
strong {
    font-weight: normal;
    font-style: normal;
}
@media (min-width: 577px) {
    div.config {
        display: grid;
        grid-template-columns: 135px 1fr;
    }
}
@media (max-width: 576px) {
    td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
        padding-right: 0px;
    }
    td.mat-cell:first-of-type, th.mat-header-cell:first-of-type {
        padding-left: 10px;
    }
    div.config {
        display: grid;
        grid-template-rows: 20px 20x;
    }
    div.config > div.value {
        padding-left:5px;
    }
}
@media (max-width: 800px) {
    div.details {
        grid-template-columns: 1fr;
    }
} 
