div.content {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: start;
}
#configuration {
    display:grid;
    grid-gap: 5px;
    grid-template-rows: repeat(auto-fill 50px);
    align-items: start; 
}
div.content form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
}

@media (max-width: 680px) {
    div.content {
        grid-template-columns: minmax(250px, 1fr);
    }
}
